---
import Layout from "@layouts/Layout.astro";
import { center } from "@pages/404.css";
---

<Layout>
  <div class={center}>
    <section>
      <h1>404</h1>
      <p>Not Found</p>
    </section>
  </div>
</Layout>
